@import "../../assets/styles/common/color.scss";
@import "../../assets/styles/common/layout.scss";

.formGroup {
  margin:30px;
  &.fullMode {
    margin:30px 0;
  }
  .formGroupTitle {
    margin-bottom:12px;
    font-weight: bold;
  }
  .formGroupList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    &.outline {
      border:1px solid $black01
    }
    .radioBox {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      .radioItem {
        position: relative;
        width: 50%;
        padding: 17px 15px;
        box-sizing: border-box;
        border-bottom:1px solid $black01;
        background-color: $whiteColor;
        .radioInput {
          padding:0
        }
        &:nth-child(1),&:nth-child(2)  {
          border-top: 1px solid $black01;
        }
        &:nth-child(odd) {
          border-left: 1px solid $black01;
          border-right: 1px solid $black01;
        }
        &:nth-child(even) {
          border-right: 1px solid $black01;
        }
        &.select {
          &::after {
            content: '';
            display: block;
            position: absolute;
            top:-1px;
            left:-1px;
            width: calc(100% - 2px);
            height:calc(100% - 2px);
            border:2px solid $mainColor;
          }
        }
      }
    }

    .inputTagItem {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 15px;
      margin: 0 15px 15px 0;
      min-width: 60px;
      height:40px;
      border: 1px solid $gray220;
      border-radius: 20px;
      box-sizing: border-box;
      background-color: $whiteColor;
      font-size: 15px;
      &.select {
        padding: 8px 14px;
        border: 2px solid $mainColor;
      }
    }

    .selectTimeBox{
      margin-bottom: 15px;
      label {
        color:$black05;
        margin-right: 9px;
        font-size: 15px;
      }
      select{
        width: 110px;
      }
    }
  }
  > p {
    margin-top:15px;
    font-size:12px;
    line-height: 1.5em;
    color:$black05
  }

  .inputTextItem {
    width: 100%;
    box-sizing: border-box;
    // border:1px solid $black01;
    background-color: $whiteColor;
    display: flex;
    align-items: center;
    min-height:50px;
    padding:0 15px;
    border-bottom:1px solid $black01;
    &:last-child {
      border:none
    }
    label {
      width: 80px;
      padding:10px 0;
      margin-right:15px;
      color:$black05
    }
    .inputText {
      flex:1;
      font-size: 15px;
      color:$mainTextColor;
      p {
        display: flex;
        justify-content: space-between;
        img {
          width: 6px;
          height: 12px;
        }
      }
      &.selcet {
        margin: 16px 0;
        span {
          display: block;
          margin-top:7px;
          font-size: 13px;
          color:$redColor2
        }
      }
    } 
}

textarea {
  margin: 10px 0;
  height: 20px;
}

// 공통

// select
select{
  height: 40px;
  margin-left:15px;
  padding: 0 15px;
  border-radius: 3px;
  border: 1px solid $gray220;
  font-size: 15px;
  background: url('../../assets/imgs/iconDreopdown.png') no-repeat 90% 50%;
  background-color:$whiteColor;
  background-size: 8px 5px;
}

// radio
.radioInput {
  display: flex;
  align-items: center;
  padding-right: 50px;
    img {
      width: 26px;
      height: 26px;
    }
    span {
      margin-left:10px;
    }
  }
}