@import "../../assets/styles/common/color.scss";

.alert {
  position: fixed;
  top:0;
  left:0;
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
  z-index: 999;
  background:$black01;
  .alertBox {
      width: 80%;
      text-align: center;
      background: $whiteColor;
      border-radius: 10px;
    img {
      width: 100%;
      vertical-align: middle;
      border-radius: 10px 10px 0 0;
    }
    p {
      line-height: 20px;   
      margin: 32px 20px;
    }
    .alertBtn {
      border-top: 1px solid $gray233;
      padding: 12px 0;
    }
    b {
      font-weight: bold;;
    }
    &.img {

    }
  }
}