@import "../../assets/styles/common/color.scss";
@import "../../assets/styles/common/layout.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 19px;
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 23px;
    min-height: 50px;
  }
  .headerTitle {

  }
  &.modalHeader {
    background-color: $whiteColor;
    border-bottom: 1px solid $gray220;
  }
}