$redColor:rgba(252,38,44,1);
$redColor2:rgba(255,128,117,1);
$whiteColor:rgba(255,255,255,1);

$black025:rgba(0,0,0,0.25);
$black05:rgba(0,0,0,0.5);
$black01:rgba(0,0,0,0.1);
$blackText:rgba(17,17,17,1);

$gray220:rgba(220,220,220,1);
$gray233:rgba(233,233,233,1);

$kakaoColor:rgba(250,225,0,1);
$kakaoTextColor:rgba(60,30,30,1);

$mainBgColor:rgba(247,247,247,1);
$mainColor:rgba(255,203,51,1);
$mainTextColor:rgba(55,55,55,1);
$mainPointerColor:rgba(255,241,200,1);
$subPointerColor01: rgba(57,206,144,1);
$subPointerColor02: rgba(80,145,236,1);
