body {
    background-color:$mainBgColor;
    font-size: 15px;
    color:$mainTextColor;
    font-family: 'Noto Sans KR', sans-serif;
    overscroll-behavior: contain;
  }

#root {
width: 100%;
height: 100vh;
> div {
    min-height: 100%;
}
}

.modalPage{
  position: fixed;
  top: 100%;
  left: 0;
  z-index: 999999;
  background-color:$mainBgColor;
  transform: translateY(100%);
  &.open {
    top: 0;
    width: 100vw; /* viewport width */
    height: 100vh; /* viewport height */
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.35s ease-in;
    .locationBox {
      position: fixed !important;
    }
  }
  &.settingLocation {
    .locationBox {
      position: relative;
      bottom:0;
      left:0;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      padding:0;
      border: none;
      background-color: $whiteColor;
      z-index: 99;
      .loactionBtn {
        position: absolute;
        top: -64px;
        right:20px;
        img {
          width: 44px;
          height: 44px;
        }
      }
      .inputTextItem {
        padding: 20px;
      }
      .location {
        height: 15px;
        margin: 20px 20px 0;
      }
    }
  }
}

.main {
  padding-top: 66px;
  box-sizing: border-box;
}

.landingBox > img {
  width: 100%;
}
.header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 999;
    background: #fff;
    border-bottom: 1px solid rgb(220, 220, 220);
    .gobackBtn {
      img {
        width: 16px;
        height: auto;
      }
    }
}


.searchModal{
    &.modalPageRight {
        background-color: #fff;
    }  
}
.currentSearch {
    padding:32px 10px 0 20px;
    > div {
        margin-bottom: 10px;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.5);
    }
    li {
        position: relative;
        height: 40px;
        box-sizing: border-box;
        padding-right: 40px;
    }
    .searchForKeyword {
        width: 100%;
        line-height: 40px;
        padding: 0;
        font-size: 15px;
        border: 0;
        text-align: left;
        background-color: transparent;
    }
    .deleteKeyword {
        padding: 0;
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        border: 0;
        background: url('../../imgs/btnCloseLine.png') no-repeat center;
        background-size: 12px 10px;
    }
}

.resultInfo{
  line-height: 19px;
  padding: 22px 0 19px;
  text-align: center;
  font-size: 15px;
  background:rgb(247,247,247);
  color: rgba(0,0,0,0.5);
  strong {
    font-weight: bold;
  }
}
.resultWrapper {
  background-color:#fff;
}
.resultCounts {
  padding: 32px 20px 10px;  
  font-size: 13px;
  color: rgba(0,0,0,0.5);
}

.loading_spinner_in {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  z-index: 100000;
  .loading_spinner_img {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -10px;
      margin-left: -40px;
      z-index: 9998;
  }
  .loading_spinner_bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 0.4;
      z-index: 9997;
  }
  .bouncing-loader {
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      &__round {
          width: 20px;
          height: 20px;
          background-color: #3c8787;
          border-radius: 50%;
          &:not(:first-child) {
              margin-left: 10px;
          }
          animation: bounce_spinner 0.6s infinite alternate;
          &:nth-child(2) {
              animation-delay: 0.2s;
          }
          &:nth-child(3) {
              animation-delay: 0.4s;
          }
      }
  }
}


/* loading bar */
.loading_spinner {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  display: none;
  z-index: 100000;
  .loading_spinner_img {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9998;
  }
  .loading_spinner_bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .4;
    z-index: 9997;
  }
}
.bouncing-loader {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  
  &__round {
    width: 20px;
    height: 20px;
    background-color: #3C8787;
    border-radius: 50%;
    
    &:not(:first-child) {
      margin-left: 10px;
    }
    
    animation: bounce 0.6s infinite alternate;
    
    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    
    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes bounce {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  
  to {
    opacity: 0.1;
    transform: translateY(-20px);
  }
}

/* 기업 스토리 페이지, 인재풀 모달, 프리미엄 궁합 react spinner animation */
@keyframes bounce_spinner {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0.1;
    transform: translateY(-20px);
  }
}
