body {
    background-color:$mainBgColor;
    font-size: 15px;
    color:$mainTextColor;
    font-family: 'Noto Sans KR', sans-serif;
  }

#root {
width: 100%;
height: 100vh;
> div {
    min-height: 100%;
}
}

.modalPage{
  position: fixed;
  top: 100%;
  left: 0;
  z-index: 999999;
  background-color:$mainBgColor;
  transform: translateY(100%);
  &.open {
    top: 0;
    width: 100vw; /* viewport width */
    height: 100vh; /* viewport height */
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.35s ease-in;
    .locationBox {
      position: fixed !important;
    }
  }
  &.settingLocation {
    .locationBox {
      position: relative;
      bottom:0;
      left:0;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      padding:0;
      border: none;
      background-color: $whiteColor;
      z-index: 99;
      .loactionBtn {
        position: absolute;
        top: -64px;
        right:20px;
        img {
          width: 44px;
          height: 44px;
        }
      }
      .inputTextItem {
        padding: 20px;
      }
      .location {
        margin: 20px 20px 0;
      }
    }
  }
}

.main {
padding-top: 50px;
box-sizing: border-box;
}

.header{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    z-index: 999;
}
