@import 'reset-css';
@import "./color.scss";
@import "./layout.scss";

@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto&display=swap");

body {
  background-color:$whiteColor;
  font-size: 14px;
  color:$mainTextColor;
  font-family: 'Noto Sans KR', sans-serif;
}

#root {
  width: 100%;
  height: 100vh;
  > div {
    min-height: 100%;
  }
}

h2 {
  font-size: 17px;
}

a {
  text-decoration: none;
  color:$mainTextColor;
}

input,textarea,select {
  outline: none;
}

::-webkit-input-placeholder { color: $black025; }
::-moz-placeholder { color: $black025;  }
:-ms-input-placeholder { color: $black025;  }
:-moz-placeholder { color: $black025;  }
::placeholder { color: $black025; }

.modalPage{
  position: fixed;
  top: 100%;
  left: 0;
  z-index: 999999;
  background-color:$mainBgColor;
  transform: translateY(100%);
  &.open {
    top: 0;
    width: 100vw; /* viewport width */
    height: 100vh; /* viewport height */
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.35s ease-in;
  }
}