@import 'reset-css';
@import "./color.scss";
@import "./layout.scss";

@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto&display=swap");

h2 {
  font-size: 17px;  
}

a {
  text-decoration: none;
  color:$mainTextColor;
}

input,textarea,select {
  outline: none;
  &::-webkit-input-placeholder { color: $black025; }
  &::-moz-placeholder { color: $black025;  }
  &:-ms-input-placeholder { color: $black025;  }
  &:-moz-placeholder { color: $black025;  }
  &::placeholder { color: $black025; }
}  

