@import "../common/color.scss";


.settingInfoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:130px;
  background-color: $whiteColor;
  text-align: center;
  .settingInfo {
    margin-top:13px;
    line-height: 20px;
    b {
      color:$redColor
    }
  }
}
.header {
  z-index: 10;
  .search{
    z-index: 20;
  }
}